.header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 1rem 2rem;
    background-color: var(--Primary-Brand-100, #1e3563);
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__logo {
    display: block;
    width: 100px;
    height: auto;
    font-size: 0;
}

.header__icon-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: flex-end;
}

.header__icon {
    display: block;
    position: relative;
    flex: 1;
    width: 4rem;
    height: 4rem;
    font-size: 0;
    color: white;
}

.header__icon svg {
    display: block;
    width: 100%;
    height: auto;
}
